---
layout: default
title: GitLab Hackathon
description: "Join the community, hack on GitLab and win prizes!"
suppress_header: true
twitter_image: '/images/tweets/hackathon-twitter-card.png'
extra_css:
  - contributing.css
  - styles-2018.css
extra_js:
  - countdown.js
  - hackathon.js
---
.wrapper
  .simple-hero
    .container
      .row
        .col-md-8.col-md-offset-2.hero-image
          = partial "includes/icons/hackathon-header.svg"

      .row
        %h1 GitLab Hackathon

      .row
        .col-md-6.col-md-offset-3
          %p The next Hackathon will be on May 29-30, 2019!

  #content
    .wrapper.container.contributing-content{role: "main"}
      .block
        .block-content
          %h2.block-title
          :markdown
            The GitLab Hackathon is a virtual event that takes place once a quarter, where community members get together to work on merge requests,
            participate in tutorial sessions, and to help new contributors. The Hackathon is open to anyone who is interested in contributing code,
            documentation, translations, UX design and more. Prizes are awarded to participants for having Merge Requests (MRs) merged
            and there may also be special award categories at each Hackathon.

            If you want to get started contributing to GitLab, please check out the [Contribute page](https://about.gitlab.com/contributing/).

      .block
        .block-content
          %h2.block-title Next Hackathon
          :markdown
            <p class="alert alert-gitlab-purple text-center">
            <i class="fab fa-gitlab fa-fw" style="color:rgb(252,109,38); font-size:.85em" aria-hidden="true"></i>
            Counting down to May 29th - 30th 2019!
            <i class="fab fa-gitlab fa-fw" style="color:rgb(252,109,38); font-size:.85em" aria-hidden="true"></i>
            <br/><br/>
            <span class="h3" id="nextHackathonCountdown">
            <i class="fas fa-spinner fa-spin fa-fw" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
            </span>
            </p>

          %h3#prizes.block-title
            %a{ href: '#prizes' } Hackathon Prizes
          :markdown
            We are excited to offer three categories of prizes for this Hackathon:

            1. Everyone with an MR merged will receive a **Merged MR** prize
            1. The individual with the most MRs merged will receive the **Grand Prize**.  There will also be a **Second Place** prize for people with the second most merged MRs.

            **Note:** all qualifying MRs must be _merged_ by
            [June 10 23:00 UTC](https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190610T23&p1=1440)


          %p

          .row
            %p
          .row.prizes
            .col-sm-12
              .prize-image
                = image_tag "/images/community/hackathon/q2-2019_hackathon_prizes.png", class: "img-responsive"
          %p
          %h3#sessions.block-title
            %a{ href: '#sessions' } Tutorial sessions
          :markdown
            There will be tutorial sessions during the Hackathon. We will be adding more sessions as speakers are confirmed.

          %p

          %table.table
            %thead
              %tr
                %th
                  Date
                %th
                  Time in
                  = link_to "UTC", "https://en.wikipedia.org/wiki/Coordinated_Universal_Time"
                  %br
                  (click for local time)
                %th
                  Session
                %th
                  Conference link
                %th
                  Speakers

            %tbody
              %tr
                %td
                  May 29
                %td
                  = link_to "06:00 - 06:30", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190529T06&p1=1440&am=30"
                %td
                  Hackathon Kickoff
                %td

                %td
                  = link_to "Ray Paik (@rpaik),", "https://gitlab.com/rpaik"
                  = link_to "Dave Planella (@dplanella)", "https://gitlab.com/dplanella"
              %tr
                %td
                  May 29
                %td
                  = link_to "16:00 - 16:30", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190529T16&p1=1440&am=30"
                %td
                  Contributing to GitLab
                %td

                %td
                  = link_to "Ray Paik (@rpaik)", "https://gitlab.com/rpaik"
              %tr
                %td
                  May 30
                %td
                  = link_to "14:00 - 14:30", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190530T14&p1=1440&am=30"
                %td
                  GitLab Release
                %td

                %td
                  = link_to "Jason Lenny (@jlenny)", "https://gitlab.com/jlenny"
              %tr
                %td
                  May 30
                %td
                  = link_to "22:00 - 22:30", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190530T22&p1=1440&am=30"
                %td
                  Hackathon wrap-up
                %td

                %td
                  = link_to "Ray Paik (@rpaik)", "https://gitlab.com/rpaik"

          %p
          :markdown
            <p class="alert alert-info">
            <i class="fas fa-info-circle" aria-hidden="true" style="color: rgb(49, 112, 143);"></i>
            If you miss any of the sessions, you will find the recordings in the
            <a href="https://www.youtube.com/playlist?list=PLFGfElNsQthapq-CyXBTVnT2yKqg1JrNh">Hackathon Playlist</a>.
            </p>

          %h3#getting-help.block-title
            %a{ href: '#getting-help' } Getting help
          %p
          :markdown
            For communications during the Hackathon, we will use the GitLab Community room in Gitter. This is a channel for community-related discussions and for community members to help each other as people have questions when contributing to GitLab.

            It's open to everyone, so please [join us at the Contributors Gitter room](https://gitter.im/gitlabhq/contributors)!

      .block
        .block-content
          %h2#contribute-for-prize.block-title
            %a{ href: '#contribute-for-prize' } Missed the last Hackathon?
          :markdown
            If you missed the recent Hackathon, you still have an opportunity to contribute for a prize.  You can start by searching for priority issues with the label `Contribute for prize` as you can see in this [query](https://gitlab.com/gitlab-org/gitlab-ce/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=Contribute%20for%20prize).  For the next few months, anyone who works on these issues and have an MR merged will receive the [GitLab moleskin note book (photo below)](https://shop.gitlab.com/collections/frontpage/products/gitlab-moleskin). If you're interested in working on these `Contribute for prize` items, you can mention `@rpaik` in the issue so that it can be assigned to you.

          %p

          .row
            %p
          .row.contributeforprize
            .col-sm-4
              .prize-image
                = image_tag "/images/community/hackathon/moleskin.png", class: "img-responsive"
          %p

      .block
        .block-content
          %h2#past-events.block-title
            %a{ href: '#past-events' } Past events

          %p
            To learn more about previous Hackathon events, visit the
            %a{href: "https://about.gitlab.com/community/hackathon/past-events.html"} past GitLab Hackathons page.

      .block
        .block-content
          #hackathon-q-a.animated
            %h2#faq.block-title
              %a{ href: '#faq' } Frequently Asked Questions
            .faq-holder.clearfix
              %ol.faq-container.list-unstyled
                %li.faq-item
                  .faq-inner-item
                    %a.faq-question.js-faq-question
                      Which GitLab projects qualify for the Hackathon?
                      %i.fa.fa-angle-down.pull-right
                    .faq-answer
                      :markdown
                        While we generally encourage contribution to the [GitLab CE](https://gitlab.com/gitlab-org/gitlab-ce)
                        and the [GitLab EE](https://gitlab.com/gitlab-org/gitlab-ee) projects, MRs for any project under the
                        [`gitlab-org` group](https://gitlab.com/gitlab-org), [Charts](https://gitlab.com/charts), [Meltano](https://gitlab.com/meltano), and [www-gitlab-com](https://gitlab.com/gitlab-com/www-gitlab-com) qualify for the Hackathon. If you are in doubt about a project which is not on this list, please do ask us on the [Contributors Gitter channel](https://gitter.im/gitlabhq/contributors).

              %ol.faq-container.list-unstyled
                %li.faq-item
                  .faq-inner-item
                    %a.faq-question.js-faq-question
                      What are the key dates for the current Hackathon?
                      %i.fa.fa-angle-down.pull-right
                    .faq-answer
                      :markdown
                        - [May 29 06:00 UTC](https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190529T06&p1=1440&am=30): Hackathon kickoff session
                        - [May 30 23:00 UTC](https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190530T22&p1=1440&am=30): Hackathon wrap-up session
                        - [June 10 23:00 UTC](https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190610T23&p1=1440): all qualifying MRs must have been _merged_
